/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v23-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v23-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v23-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v23-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-condensed-700 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-condensed-v15-latin-700.woff2") format("woff2"), url("../fonts/open-sans-condensed-v15-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

h1, h2, h3, .btn {
  font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
}

.container {
  width: 1130px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 24px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  margin-right: 32px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  color: #222222;
}

.header__link:hover {
  color: #DE2E54;
}

.header__link:active {
  color: #DE2E54;
  opacity: 0.6;
}

.header__btn {
  background: #DE2E54;
  border: 2px solid #DE2E54;
}

.header__btn:hover {
  background: #fff;
  color: #DE2E54;
}

.header__btn:active {
  background: #DE2E54;
  color: #fff;
  opacity: 0.6;
}

.intro {
  background-color: #0EB4C1;
}

.intro__container {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../img/hero-img.png);
  background-repeat: no-repeat;
  background-position: right 29px;
}

.intro__box {
  width: 500px;
  max-width: 100%;
}

.intro__title {
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
}

.intro__text {
  width: 440px;
  max-width: 100%;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  margin: 16px 0 36px;
}

.intro__btn {
  background: #DE2E54;
  border: 2px solid #DE2E54;
}

.intro__btn:hover {
  background: #fff;
  color: #DE2E54;
}

.intro__btn:active {
  background: #DE2E54;
  color: #fff;
  opacity: 0.6;
}
/*# sourceMappingURL=main.css.map */